* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(245, 245, 245);
}

h1 {
  font-size: 6.4rem;
}

h3 {
  font-size: 3.8rem;
}
h4 {
  font-size: 2.4rem;
}

.main-container {
  display: flex;
  width: 80%;
  margin: auto;
  height: 100vh;
}

.left-side,
.right-side {
  height: 100vh;
}
.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vw;
}

.left-side .wrapper h1 {
  margin: 4rem 0 0 0;
}

.wrapper .layer-scores,
.left-side button {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 15%);
}

.wrapper .layer-scores {
  width: 40rem;
  margin: 0 0 2rem 0;
  border-radius: 1.5rem;
  padding: 0.8rem;
}

.layer-scores:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: 0.4s;
}

.wrapper .layer-scores h4 {
  margin: 0 0 0 2rem;
}

.wrapper .layer-scores h3 {
  margin: 0 0 0 1.5rem;
}

/* button styles */

.left-side button {
  margin: 0 0 4rem 0;
}

.left-side button,
.right-side button {
  border: none;
  width: fit-content;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 1.4rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.left-side button:hover,
.right-side button:hover {
  cursor: pointer;
  background-color: rgb(168, 159, 159);
  color: rgb(255, 255, 255);
  transition: 0.4s;
}

.left-side button:active,
.right-side button:active {
  transform: translateY(-10%);
}

.btn-1 {
  margin: 0 2rem 0 0;
}

/* ------------------------- */
/* Right Side */

.right-side {
  width: 60vw;
  display: flex;
  justify-content: center;
}

.main-container-numbers {
  background-color: rgb(235, 235, 235);
  width: 55rem;
  height: 93vh;
  margin: 3rem 0 0 0;
  border-radius: 1.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main-container-numbers:hover {
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 15%);
  transition: 0.4s;
}

.display-guess-number #input-number {
  border: none;
  font-size: 6.4rem;
  font-weight: bolder;
  text-align: center;
  width: 10rem;
}

.display-guess-number {
  width: 13rem;
  height: 13rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 1.5rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* remove arrows from input */

.display-guess-number input::-webkit-outer-spin-button,
.display-guess-number input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* --------- */

.display-guess-number #input-number:focus {
  outline: none;
  border: none;
}

#display-message {
  font-size: 1.8rem;
}

/* numbers styles */

.layer-screen-numbers {
  width: 25vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 1rem;
}

.layer-screen-numbers span {
  font-size: 4vw;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.layer-screen-numbers span:hover {
  color: rgb(204, 204, 204);
  transition: 0.4s;
}

.layer-screen-numbers span:active {
  transform: translateY(-10%);
}

.three-numbers-element {
  display: flex;
  justify-content: space-evenly;
  width: inherit;
}

.three-numbers-element span {
  width: 4rem;
}

/* //styles for lines */

.row {
  height: 0.2rem;
  width: 21vw;
  background: rgb(217, 217, 217);
}

.colum-1 {
  transform: translate(18%, 20%) rotate(90deg);
}

.colum-2 {
  transform: translate(-18%, 20%) rotate(90deg);
}

/* -----------MOBILE DESIGN----------- */

/* Media Query */
@media screen and (max-width: 960px) {
  html {
    font-size: 45%;
  }

  h1 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.4rem;
  }

  .wrapper h1,
  .wrapper h4 {
    text-align: center;
  }

  .main-container {
    flex-direction: column;
  }

  .left-side {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    width: unset;
    height: fit-content;
  }

  .wrapper-scores {
    margin: 2rem 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .wrapper .layer-scores {
    width: 20rem;
  }

  .left-side button,
  .right-side button {
    font-size: 2rem;
  }

  /* #btn-try-again {
    margin: 0 0 2rem 0;
  } */

  /* Right Side */

  .right-side {
    width: unset;
    height: unset;
  }

  .main-container-numbers {
    height: 60rem;
    margin: 0 0 3rem 0;
  }

  .display-guess-number {
    width: 10rem;
    height: 10rem;
  }

  .display-guess-number #input-number {
    font-size: 4.4rem;
  }

  .layer-screen-numbers {
    height: 30rem;
    width: 30rem;
  }

  .layer-screen-numbers span {
    font-size: 5rem;
  }

  .row {
    width: 25rem;
  }

  .colum-1 {
    transform: translate(15%, 20%) rotate(90deg);
  }

  .wrapper-btn {
    margin: 0 0 1rem 0;
  }
}
